*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

/*======================================== WRAPPER ========================================*/
.card-wrapper{
    background-color: #df002d;
    width: 55rem;
    height: 27.5rem;
    border-radius: 3rem;
    padding: 2rem 2rem 4rem 2rem;
}

/*======================================== CARD HEADER ========================================*/

.logo-container{
    display: flex;
    justify-content: right;
}

/*======================================== CARD BODY ========================================*/

body{
    display: flex;
}

.left-container, .right-container {
    flex: 1; /* Equal flex for left and right containers */
    padding: 20px; /* Add padding for spacing */
  }

.left-container > .album-cover {
    
}