*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

/*======================================== CARD BODY ========================================*/
.card-wrapper{
    background-color: red;
    width: 55rem;
    height: 27.5rem;
    border-radius: 3rem;
    padding: 2rem;
}

.logo-container{
    display: flex;
    justify-content: right;
}
